.swiper-container {
  width: 100%;
  height: 981px;
  background: linear-gradient(to top, #0828B6 50%, #F3F3F3 50%);
}

.skills-are-container {

}

.pop {
  padding-top: 150px;
  max-width: 450px;
  max-height: 450px;
}

.img-sl {
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
}

.skills-are {
  width: 80%;
  margin: auto;
}

.skills-are-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 90px;
  line-height: 110px;
}