.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 300px;
}

.pop {
  max-width: 300px;
}

.img-sl {
  width: 300px;
  height: 300px;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
}