.scroll {
  position: absolute;
  margin-top: 985px;
}

@media (max-width: 1440px) {
  .scroll-img {
    width: 85px;
    height: 85px;
  }

  .scroll {
    margin-top: 700px;
  }
}

@media (max-width: 480px) {
  .scroll-img {
    width: 51px;
    height: 51px;
  }

  .scroll {
    margin-top: 220px;
    margin-left: 180px;

  }
}