.header {
  position: absolute;
  padding-top: 462px;
  font-weight: normal;
  font-size: 90px;
  line-height: 122px;
  text-align: center;
  color: #FFFFFF;
}

.header_text {
  margin-top: 0em; /* Отступ сверху */
  margin-bottom: 0em;
}

