.gold-header {
  margin : 10px; /* устанавливаем величину внешнего отступа для всех сторон элемента */
  width: 902.88px;
  height: 400px;
  background: #000000;
  display : inline-block; /* устанавливаем элементы <div> как блочно-строчные (выстраиваем в линейку) */
  text-align : center; /* выравниваем текст по центру */
  line-height: 100px;  /* устанавливаем высоту строки равную высоте элемента */
  border-radius: 69px;
  transition : .3s linear;  /* устанавливаем длительность переходного эффекта 0.3 секунды с одинаковой скоростью от начала до конца */
  -moz-transition : .3s linear;  /* для поддержки ранних версий браузеров */
  -webkit-transition : .3s linear;  /* для поддержки ранних версий браузеров */
}

.gold-container {
  margin-top: 50px;
  height: auto;
  margin-right: 50px;
  margin-left: 10px;
}

.gold_one {
  width: 902.88px;
  height: 400px; /* устанавливаем высоту блока */
  background: #000000;
  box-shadow: 0px 0px 30px 2px rgba(196, 196, 196, 0.5);
  border-radius: 69px;
  position: relative;
  margin: auto;
}

.gold_one:hover {
  -o-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  -moz-transform: translate(-20px, -20px);
  -webkit-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.gold_two {
  width: 902.88px;
  height: 400px; /* устанавливаем высоту блока */
  background: #000000;
  box-shadow: 0px 0px 30px 2px rgba(196, 196, 196, 0.5);
  border-radius: 69px;
  position: absolute;
  right:20px;
  bottom:20px;
}

.gold {
  display: block;
  margin: auto;
  height: auto;
  padding-top: 20px;
  justify-content: center;
}

@media (max-width: 1440px) {
  .gold-header {
    width: 655.06px;
    height: 309.21px;
  }

  .gold_one {
    width: 655.06px;
    height: 309.21px;
  }

  .gold_two {
    width: 655.06px;
    height: 309.21px;
  }

  .gold {
    width: 420px;
    height: 280px;
  }
}
