.burger-header {
  margin : 10px; /* устанавливаем величину внешнего отступа для всех сторон элемента */
  background: #000000;
  display : inline-block; /* устанавливаем элементы <div> как блочно-строчные (выстраиваем в линейку) */
  text-align : center; /* выравниваем текст по центру */
  line-height: 100px;  /* устанавливаем высоту строки равную высоте элемента */
  border-radius: 69px;
  transition : .3s linear;  /* устанавливаем длительность переходного эффекта 0.3 секунды с одинаковой скоростью от начала до конца */
  -moz-transition : .3s linear;  /* для поддержки ранних версий браузеров */
  -webkit-transition : .3s linear;  /* для поддержки ранних версий браузеров */
}

.burger-container {
  margin-top: 100px;
  height: auto;
  margin-right: 30px;
  margin-left: 10px;
}

.work-text {
  font-family: Montserrat;
  position: absolute;
  font-weight: bold;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  left: 1390.02px;
  top: 3770px;
  color: #323232;
}

.burger_one {
  width : 500px; /* устанавливаем ширину блока */
  height : 430px; /* устанавливаем высоту блока */
  background: #000000;
  box-shadow: 0px 0px 30px 2px rgba(196, 196, 196, 0.5);
  border-radius: 69px;
  position: relative;
  margin: auto;
}

.burger_one:hover {
  -o-transform: translate(-20px, 20px);
  -ms-transform: translate(-20px, 20px);
  -moz-transform: translate(-20px, 20px);
  -webkit-transform: translate(-20px, 20px);
  transform: translate(-20px, 20px);
}

.burger_two {
  width : 500px; /* устанавливаем ширину блока */
  height : 430px; /* устанавливаем высоту блока */
  background: #000000;
  box-shadow: 0px 0px 30px 2px rgba(196, 196, 196, 0.5);
  border-radius: 69px;
  position: absolute;
  right:20px;
  top:20px;
}

.burger {
  display: block;
  margin: auto;
  height: auto;
  padding-top: 50px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.W {
  position: absolute;
  left: 860px;
  top: 3730px;
}

.W-icon {
  width: 230px;
  height: 200px;
}

.O {
  position: absolute;
  left: 1150px;
  top: 3750px;
}

.O-icon {
  width: 190px;
  height: 190px;
}

.R {
  position: absolute;
  left: 1215px;
  top: 3930px;
}

.R-icon {
  width: 190px;
  height: 190px;
}

.K {
  position: absolute;
  left: 1452px;
  top: 3890px;
}

.K-icon {
  width: 190px;
  height: 190px;
}

@media (max-width: 1440px) {
  .burger_one {
    width: 400px;
    height: 400px;
  }

  .burger_two {
    width: 400px;
    height: 400px;
  }

  .burger {
    height: 320px;
    width: 380px;
  }

  .W {
    position: absolute;
    left: 615px;
    top: 2670px;
  }

  .W-icon {
    width: 220px;
    height: 220px;
  }

  .O {
    position: absolute;
    left: 863.99px;
    top: 2700px;
  }

  .O-icon {
    width: 176.9px;
    height: 183.7px;
  }

  .R {
    position: absolute;
    left: 900px;
    top: 2880px;
  }

  .R-icon {
    width: 160px;
    height: 160px;
  }

  .K {
    position: absolute;
    left: 1070px;
    top: 2840px;
  }

  .K-icon {
    width: 170px;
    height: 170px;
  }

  .work-text {
    left: 1040.89px;
    top: 2720px;
    font-size: 70px;
    line-height: 85px;
  }

}