
.nav-list {
    display: flex;
    align-items: center;
    padding-top: 91px;
}

.nav-item {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}


.nav-item:not(:last-child) {
    margin-right: 128px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-item a {
    display: inline-block;
    color: #000000;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.nav-item a:after {
    display: block;
    content: "";
    background-color: #0828B6;
    height: 6px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
}

.burger-block {
    display: none;
}

@media (max-width: 1440px) {
    .nav-item {
        font-size: 32px;
        line-height: 43px;
    }

    .nav-item:not(:last-child) {
        margin-right: 90px;
    }

    .nav-list {
        padding-top: 71px;
    }

    .burger-block {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav-item {
        display: none;
    }

    .burger-block {
        display: none;
    }

    .burger-san {
        display: none;
    }

    .nav-list {
        padding-top: 20px;
    }

}



